.modal {
    position: fixed;
    content: '';
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10px;
    background-color: rgba(0 0 0/0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.modal.active {
    opacity: 1;
}

.modal__wrap {
    position: relative;
    width: 100%;
    max-width: 450px;
    max-height: 100%;
    padding: 24px 30px;
    background-color: var(--white);
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    cursor: default;
}

.modal__title {
    margin: 0;
    margin-bottom: 2rem;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.modal__title.delete {
    text-align: center;
    margin-bottom: 16px;
}

.field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field-wrapper:not(:last-child) {
    margin-bottom: 2rem;
}

.field-wrapper label {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-grey);
    transition: top .3s, font-size .3s ease-in;
}

.field-wrapper label.moved {
    top: -16px;
    font-size: 10px;
}

.field-wrapper input {
    height: 25px;
    border: transparent;
    border-bottom: 1px solid var(--grey-05);
    transition: border-color .3s ease;
}

.field-wrapper input:focus {
    outline: transparent;
}

.field-wrapper input.warning {
    border-bottom-color: var(--red);
}

.required {
    font-weight: 600;
    color: var(--firm);
}

.modal__wrap-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.modal__contacts {
    margin: 25px -30px;
    padding: 8px 0;
    background-color: var(--grey-03);
}

.modal__contacts.showed {
    padding: 25px 30px;
}

.modal__contacts-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.contact-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--grey);
}

.contact-item:last-child {
    margin-bottom: 25px;
}

.contact-item__select {
    min-width: 123px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
    background-color: #e7e5eb;
    border: transparent;
    border-right: 1px solid var(--grey);
}


.contact-item__select:focus {
    outline: transparent;
}


.choices__inner {
    min-height: 37px;
    padding: 5.5px 7.5px 3.75px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
    background-color: #e7e5eb;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 9px 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: #f4f3f6;
}

.choices[data-type*=select-one]::after {
    content: '';
    height: 6px;
    width: 10px;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
    border: none;
    background-image: url(../../img/contact-arrow.svg);
    background-repeat: no-repeat;
}

.choices[data-type*="select-one"].is-open::after {
    margin-top: -2.5px;
    border-color: transparent transparent rgb(51, 51, 51);
    rotate: 180deg;
}

.is-focused .choices__inner, .is-open .choices__inner {
    border-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #EDECF0;
}

.contact-item__input {
    width: 100%;
    height: 100%;
    padding: 8px 6px 8px 12px;
    border: transparent;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
}

.contact-item__input:focus {
    outline: transparent;
}

.contact-item__input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-grey);
}

.contact-item__btn {
    border: transparent;
    border-left: 1px solid var(--grey);
    background-color: #e7e5eb;
    align-self: stretch;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    outline: transparent;
    transition: opacity .3s, outline .3s ease;
}

@media (hover: hover) {

    .contact-item__btn:hover {
        outline: 1px solid var(--red);
    }

    .contact-item__btn:hover path {
        fill: var(--red);
    }
}

.contact-item__btn:active {
    outline: 1px solid var(--red);
}

.contact-item__btn:active path {
    fill: var(--red);
}

.contact-item__btn.visible {
    opacity: 1;
    pointer-events: all;
}

.modal__contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--black);
    text-align: center;
    transition: color .3s ease;
}

.modal__contact-btn.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

@media (hover: hover) {
    .modal__contact-btn:hover {
        color: var(--firm);
    }

    .modal__contact-btn:hover svg {
        background-color: var(--firm);
        border-radius: 100%;
        outline: 2px solid var(--firm);
        outline-offset: -2px;
    }

    .modal__contact-btn:hover path {
        fill: var(--white);
    }

    .modal__contact-btn rect:hover {
        fill: var(--white);
    }
}

.modal__contact-btn:active svg {
    color: var(--firm-active);
}

.modal__contact-btn:active svg {
    background: var(--firm-active);
    border-radius: 100%;
    outline: 2px solid var(--firm-active);
    outline-offset: -2px;
}

.modal__contact-btn:active path {
    fill: var(--firm-hover);
}

.modal__submit-btn {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    max-width: 147px;
    padding: 13px 35px;
}

.modal__submit-btn.delete {
    max-width: 130px;
}

.modal__abort-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--black);
}

.modal__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 27px;
    height: 27px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal__close-btn::before,
.modal__close-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--grey);
}

.modal__close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.user-id {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--txt-grey);
}

.delete-descr {
    max-width: 275px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: var(--black);
}

.error-msg {
    max-width: 255px;
    margin: -17px auto 9px auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.35;
    text-align: center;
    color: var(--red);
}