:root {
    --green: #34c759;
    --orange: #e6b127;
    --red: #f06a4d;
    --firm: #9873ff;
    --firm-hover: #b89eff;
    --firm-active: #8052ff;
    --grey: #c8c5d1;
    --grey-03: #EFEEF1;
    --grey-05: #c8c5d1;
    --txt-grey: #b0b0b0;
    --black: #333333;
    --white: #ffffff;
    --page-bg: #f5f5f5;
    --font-family: "Open Sans", sans-serif;

    --container-width: 1280px;
    --container-offset: 20px;
}

@media (max-width: 550px) {
   :root {
    --container-offset: 10px; 
   }
}